<section>
  {{#each posts as |post| }}
  <article>
    <div>
      <h2><a href="/api/posts/{{post.id}}">{{post.title}}</a></h2>
      <h3>Posted by {{post.user.username}} on {{format_date post.createdAt}}</h3>
      <p>{{post.content}}</p>
      <p>{{post.comments.length}} Comments</p>
      <a href="/api/posts/{{post.id}}">View Post</a>
    </div>
  </article>
  {{/each}}
</section>
